/* Sport Icons */
.icon-sport {
  background: transparent url('../images/sport-icons.png') no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}

.icon-sport.winter-sports {
  background-position: 0 -1753px;
}

.icon-sport.popular {
  background-position: 0 -2702px;
}

.icon-sport.soccer {
  background-position: 0 -1299px;
}

.icon-sport.basketball {
  background-position: 0 -326px;
}

.icon-sport.baseball {
  background-position: 0 -262px;
}

.icon-sport.ice-hockey {
  background-position: 0 -1040px;
}

.icon-sport.tennis {
  background-position: 0 -1492px;
}

.icon-sport.handball {
  background-position: 0 -392px;
}

.icon-sport.floorball {
  background-position: 0 -715px;
}

.icon-sport.golf {
  background-position: 0 -912px;
}

.icon-sport.rugby {
  background-position: 0 -1169px;
}

.icon-sport.snooker {
  background-position: 0 -1234px;
}

.icon-sport.volleyball {
  background-position: 0 -1559px;
}

.icon-sport.beach-volley {
  background-position: 0 -2766px;
}

.icon-sport.beach-soccer {
  background-position: 0 -32px;
}

.icon-sport.waterpolo {
  background-position: 0 -1624px;
}

.icon-sport.futsal {
  background-position: 0 -847px;
}

.icon-sport.darts {
  background-position: 0 -587px;
}

.icon-sport.boxing {
  background-position: 0 -457px;
}

.icon-sport.motor-sport {
  background-position: 0 -2079px;
}

.icon-sport.curling {
  background-position: 0 -97px;
}

.icon-sport.aussie-rules {
  background-position: 0 -781px;
}

.icon-sport.bandy {
  background-position: 0 -197px;
}

.icon-sport.table-tennis {
  background-position: 0 -1428px;
}

.icon-sport.badminton {
  background-position: 0 -2736px;
}

.icon-sport.football {
  background-position: 0 -65px;
}

.icon-sport.cycling {
  background-position: 0 -2467px;
}